[submodule "vim: vim-indent-guides"]
	path = vim/.vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim: nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim: tagbar"]
	path = vim/.vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim: vim-easymotion"]
	path = vim/.vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "vim: vifm"]
	path = vim/.vim/bundle/vifm
	url = https://github.com/istib/vifm.vim.git
[submodule "vim: vim-autocomplpop"]
	path = vim/.vim/bundle/vim-autocomplpop
	url = https://github.com/othree/vim-autocomplpop.git
[submodule "vim: L9"]
	path = vim/.vim/bundle/L9
	url = https://github.com/vim-scripts/L9.git
[submodule "vim: EasyGrep"]
	path = vim/.vim/bundle/EasyGrep
	url = https://github.com/vim-scripts/EasyGrep.git
[submodule "vim: taglist"]
	path = vim/.vim/bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "vim: auto-pairs"]
	path = vim/.vim/bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "vim: vim-snipmate"]
	path = vim/.vim/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate
[submodule "vim: supertab"]
	path = vim/.vim/bundle/supertab
	url = https://github.com/ervandew/supertab

[submodule "env: oh-my-zsh"]
	path = env/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git 

[submodule "devel: pyenv"]
    path = devel/pyenv
    url = https://github.com/yyuu/pyenv.git



[submodule "vim/.vim/bundle/tlib_vim"]
	path = vim/.vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/.vim/bundle/vim-addon-mw-utils"]
	path = vim/.vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/.vim/bundle/vim-snippets"]
	path = vim/.vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "vim/.vim/bundle/xml"]
	path = vim/.vim/bundle/xml
	url = https://github.com/othree/xml.vim.git
[submodule "vim/.vim/bundle/Pydiction"]
	path = vim/.vim/bundle/Pydiction
	url = https://github.com/vim-scripts/Pydiction.git
[submodule "vim/.vim/bundle/syntastic"]
	path = vim/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/.vim/bundle/vim-airline"]
	path = vim/.vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
