[submodule ".vim/bundle/vim-indent-guides"]
	path = .vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/vim-easymotion"]
	path = .vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule ".vim/bundle/vifm"]
	path = .vim/bundle/vifm
	url = https://github.com/istib/vifm.vim.git
[submodule ".vim/bundle/vim-autocomplpop"]
	path = .vim/bundle/vim-autocomplpop
	url = https://github.com/othree/vim-autocomplpop.git
[submodule ".vim/bundle/L9"]
	path = .vim/bundle/L9
	url = https://github.com/vim-scripts/L9.git
[submodule ".vim/bundle/snipMate"]
	path = .vim/bundle/snipMate
	url = https://github.com/vim-scripts/snipMate.git
[submodule ".vim/bundle/pydiction"]
	path = .vim/bundle/pydiction
	url = https://github.com/vim-scripts/Pydiction.git
